h1 {
    font-size: 35px;
}
#contact {
    font-size: 14px
}

#profile {
    font-size: 20px;
    font-style: italic;
    width: 100%;
    text-align: left;

}

table {
    width: 100%;
}

#employer {
    font-weight: bold;
    font-size: 20px;
}

#title {
    font-weight: bold;
    font-size: 17px;
}
#date {
    text-align: end
}
body {
    background-color: rgb(114, 151, 156);
    margin: 25px 70px 25px;
    padding: 0 400px;
    border: 3px solid white;
    border-radius: 50px;
    text-align: left; width:800px;
    
    
    
}
#pic {
    
}

html {
    background-color: white;
}
img {
    border: 2px solid black;
}
